.navbar{
    background-color: blueviolet;
}


.offcanvas-header{
    background-color: white;
    color: black;
}

.offcanvas-body{
    background-color: blueviolet;
}



@media only screen and (max-width:700px){
    .offcanvas{
        width: 60vw !important;
    }

    .d-block{
        margin-top: 55px;
        height: 20vh;
    }

    .carousel-control-prev{
        margin-top: 55px;
    }
    .carousel-control-next{
        margin-top: 55px;
    }
    .images img{
        height: 20vh;
        width: 30vw !important;
    }
}

.d-block{
    margin-top: 55px;
    
}

.fetch-data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(245,238,238,0.992);
}
.fetch-data-cart{
    display: flex;
    justify-content: center;
    margin-top: 57px;
    flex-wrap: wrap;
    background-color: rgba(245,238,238,0.992);
}

.fetch-images{
    height: 380px;
    margin: 10px;
    flex-direction: column;
    width: 300px;
    display: flex;
    background-color: white;
}

.fetch-images:hover{
    scale: 1.05;
    transition:.4s ease-in-out ;
    box-shadow: 10px 10px 10px gray;
}

.images{
    display: flex;
    justify-content: center;
}

.images img{
    height: 150px;
    width: 150px;
    margin-top: 10px;
    object-fit: contain;
}

.title{
   display: flex;
   justify-content: flex-start;
   margin-top: 5px;
   margin-left: 10px;
   margin-right: 5px;
}

.title h3{
    font-size: 16px;
    font-weight: bold;
    color: black;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 5px;
 }

.description h3{
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1px;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.rating{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 5px;
 }
.price{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 5px;
 }

.price h3{
    font-size: 20px;
    font-weight: bold;
 }

.add-button{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 35px;
    margin: auto;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    text-decoration: none;
 }

.add-button:hover{
    background-color: rgba(137, 43, 226, 0.851);
}

.add-cart{
    margin-left: 10px;
}

.add-cart a{
    color: white;
}

.cart-button{
    display: flex;
    justify-content: center;
    width: 250px;
    border: none;
    height: 35px;
    background-color: rgb(205, 50, 130);
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    text-decoration: none;
}

.cart-add{
    text-decoration: none;
    margin: auto;
}




