.navbar{
    background-color: blueviolet;
}


.offcanvas-header{
    background-color: white;
    color: black;
}

.offcanvas-body{
    background-color: blueviolet;
}

@media only screen and (max-width:700px){
    .offcanvas{
        width: 60vw !important;
    }

    .d-block{
        margin-top: 55px;
        height: 140px;
    }

    .carousel-control-prev{
        margin-top: 55px;
    }
    .carousel-control-next{
        margin-top: 55px;
    }
}

.d-block{
    margin-top: 55px;
}
